<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapi	s.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

      
      <div id="userInput">
		 <h3> Enter Your name : </h3>
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      
      
<script>
	function chatsetup(){
		var rawText = $("#textInput").val();
		$.get("/chatsetup", { custname : rawText}).done(function(){
			$("#userInput").html("");
			$("#welcome").html("<h1>Welcome to WeCare!</h1>");
			$("#username").html('<p class="botText"><span>Hi ' + rawText + ' , </span></p>');
			
			$("#chatweb").load("chatbox");
			});
		}
$(document).ready(function(){
  
  $("#buttonInput").click(function(){
    chatsetup()
  });
  
});
</script>

	 <div id="welcome">
        <p><span></span></p>
     </div>
     <div id="username">
        <p><span></span></p>
     </div>
	<div id="chatweb">
        <p><span></span></p>
     </div>

<body>

</body>
</html>
